// Primary
$purpleColor: hsl(259, 100%, 65%);
$lightRedColor: hsl(0, 100%, 67%);

// Neutral
$whiteColor: hsl(0, 0%, 100%);
$offWhiteColor: hsl(0, 0%, 94%);
$lightGreyColor: hsl(0, 0%, 86%);
$smokeyGreyColor: hsl(0, 1%, 44%);
$offBlackColor: hsl(0, 0%, 8%);
